*{
  margin: 0;
  padding: 0;
}
html{
  height: 100%;
}
body{
  height:100%;
  overflow: hidden;
}
#app{
  height: 100%;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
.my-frame{
  position: absolute;
  top: 10px;
  left: 90px;
  height: 90%;
  width: 80%;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0,0,0,.3);
}
.my-frame-btn{
  position: absolute;
  z-index: 1001;
  top: 50px;
  left: 100px;
  color: blue;
}
.my-frame-btn:hover{
  cursor: pointer;
  color:#eb2f96;
}
ul,li{
  list-style: none;
}
#right{
  height: 100%;
  margin-left: 380px;
  background: #eeeeff;
  padding: 6px;
  position: relative;
}
.right-main-body{
  height: 100%;
  top: -78px;
}

#left, #center{
  position: absolute;
  height: 100%;
  top: 0;
}

#left{
  width: 80px;
  background-color: black;
  border: none;
  left: 0;
}
#center{
  width: 300px;
  left: 80px;
}

/* 菜单按钮样式 */
.menu-item{
  height: 80px;
  line-height: 80px;
  color: #aaaaaa;
}
.menu-item:hover{
  color: white;
  background: #333333;
  cursor: pointer;
}
.menu-item.active{
  color: white;
  background: #222222;
  border-left: 4px solid blue;
}

/* 用户头像样式 */
.user{
  width: 100%;
  height: 100px;
  padding: 20px;
}
.user img{
  width: 100%;
  border-radius: 3px;
}
.user img:hover{
  cursor: pointer;
}
.ivu-tooltip-popper{
  top: 100px;
}

/* 搜索框样式 */
.search{
  height: 60px;
  line-height: 60px;
  padding: 0 30px;
  border-bottom: 1.5px solid #f1f1f1;
}

.center-item:hover, .chat-item:hover{
  background: #eeeeee;
  cursor: pointer;
}

.create-group, .chat-item{
  height: 70px;
  width: 100%;
}
/* group_user样式 */
.pc-group-info{
  text-align: left;
}
.pc-group-info .wap-group-info-item{
  width: 100px;
  position: relative;
}
.pc-group-info .wap-group-info-logo:hover{
  cursor: pointer;
}
.pc-group-info .wap-group-info-name{
  font-size: 16px;
  color: #898989;
}
.pc-group-info-body{
  padding: 30px 80px;
  overflow: auto;
  top: 80px;
  position: absolute;
  bottom: 80px;
}

.pc-group-btn{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  line-height: 100px;
}
.pc-group-btn>button{
  height: 40px;
  line-height: 40px;
  width: 200px;
  background: limegreen;
  color: #fff;
  border: none;
  border-radius: 2px;
}
.pc-group-btn>button:hover, .pc-friend-btn>button:hover{
  cursor: pointer;
  background: green;
}

.pc-group-btn .del-group{
  background: red;
  margin-left: 30px;
}
.pc-group-btn .del-group:hover, .pc-friend-btn .del-group:hover{
  background: darkred;
}

.pc-group-user-item-card{
  width: 80px;
  background: #fff;
  position: absolute;
  top: 50px;
  right: 50px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0,0,0,.3);
  padding: 4px 0;
  z-index: 100;
}
.pc-group-user-item-card>p{
  height: 26px;
  line-height: 26px;
}
.pc-group-user-item-card>p:hover{
  cursor: pointer;
  background: #f0f0f0;
}

.pc-friend-info{
  display: inline-block;
  padding: 50px 0;
  border-bottom: 1px solid #ccc;
}
.pc-friend-info .wap-main-friend-logo>img{
  width: 180px;
  height: 180px;
}
.pc-friend-info .wap-main-friend-remark{
  font-size: 34px;
}
.pc-friend-info .wap-main-friend-nickname{
  font-size: 16px;
  text-align: left;
}
.pc-friend-btn{
  height: 100px;
  line-height: 100px;
}
.pc-friend-btn>button{
  height: 36px;
  line-height: 36px;
  width: 90px;
  margin: 0 10px;
  background: limegreen;
  border: none;
  border-radius: 1px;
  color: #ffffff;
}
.pc-friend-btn .del-group{
  background: red;
}
.pc-friend-btn .set-admin{
  background: brown;
}
.pc-friend-btn .set-admin:hover{
  background:sandybrown;
}
.pc-friend-remark{
  cursor: pointer;
}
.pc-group-logo:hover{
  cursor: pointer;
}

#update-remark{
  width: 70px;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
}


/* 创建群组头像 */
.create-group-img, .chat-img{
  width: 70px;
  height: 70px;
  padding: 15px;
  float: left;
  border-radius:4px;
}
.create-group-img>img, .chat-img>img{
  width: 40px;
  height: 40px;
  border-radius:4px;
}

/* 创建群组文件 */
.create-group-text, .chat-text{
  float: left;
  height: 70px;
  line-height: 70px;
  font-size: 14px;
}

/*  群聊列表字体样式 */
.group-title, .chat-title{
  padding: 20px 0 10px 20px;
  color: #ccc;
  font-size: 14px;
  text-align: left;
}

/*  群组选中样式 */
.chat-item.active, .center-item.active{
  background: #eeeeff;
}

.group-body, .friend-body, .chat-body{
  position: absolute;
  top: 180.8px;
  bottom: 0;
  width: 300px;
  overflow-y: auto;
}
.friend-body{
  top: 180.8px;
}
.chat-body{
  top: 60px;
}

/*  自定义模态框样式 */
.my-modal .ivu-modal{
  width: 400px;
}

.my-modal .my-modal-input{
  margin: 30px;
  border-bottom: 1.5px solid #ccc;
}

.my-modal .my-modal-input input{
  border: none;
  width: 220px;
  height: 30px;
  outline: none;
  padding-left: 5px;
  font-size: 16px;
}
.my-modal-text{
  margin: 20px;
  font-size: 14px;
}

/*--------  用户头像样式 -------*/
.user-info{
  position: absolute;
  left: 75px;
  width: 80px;
  top: 57px;
  z-index: 100;
  border-radius: 3px;
  background: #ffffff;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.3);
  box-shadow: 0 2px 10px rgba(0,0,0,.3);
  overflow: hidden;
}
.user-info ul{
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.3);
  box-shadow: 0 2px 10px rgba(0,0,0,.3);
}
.user-info ul li{
  height: 25px;
  line-height: 25px;
}
.user-info ul li:hover{
  background: #eeeeee;
  cursor: pointer;
}

.user-text{
  height: 26px;
  line-height: 26px;
  font-size: 14px;
  color: bisque;
}

/*----------  右边消息栏样式  -------------*/
#right>div{
  position: relative;
  background: #ffffff;
  border-radius: 2px;
  /*-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.3);*/
  /*box-shadow: 0 1px 5px rgba(0,0,0,.3);*/
}
.right-body{
  overflow-y: scroll;
  position: absolute;
  width: 100%;
  bottom: 140px;
  top: 80px;
}

.right-body.new-friend{
  bottom:0;
}

/*  消息标题 */
.right-title{
  height: 76px;
  line-height: 76px;
  text-align: left;
  font-size: 24px;
  border-bottom: 1.5px solid #ccc;
  padding-left: 30px;
  color: black;
  position: absolute;
  z-index: 100;
  width: 100%;
}

/* 消息标题按钮 */
.right-title-settings{
  display: inline-block;
  float: right;
  margin-right: 10px;
}

.right-title-setting{
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 38px;
  color: white;
  background: darkblue;
  text-align: center;
  border-radius: 50%;
  margin: 0 10px;
}
.right-title-setting:hover{
  cursor: pointer;
}

.right-main{
  position: absolute;
  top: 80px;
  bottom: 0;
  width: 100%;
}
.right-main-show{
  position: absolute;
  top: 80px;
  bottom: 0;
  right: 300px;
  left: 0;
}

.settings-show{
  width: 300px;
  position: absolute;
  right: 0;
  top: 80px;
  bottom: 0;
  border-left: 1px solid #ccc;
}

/*  单聊设置页面 */
.settings-chat{
  padding: 5px 0 20px;
  border-bottom: 1px solid #ccc;
}
.settings-chat img{
  width: 70px;
  height: 70px;
  border-radius: 5px;
}
.settings-chat p{
  font-size: 16px;
}
.settings-chat .username{
  color: #888;
  font-size: 14px;
}
.settings-chat-item{
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #ccc;
  text-align: left;
  padding-left: 15px;
  font-size: 16px;
}
.settings-chat-item:hover{
  cursor: pointer;
}
.settings-chat-item-icon{
  float: right;
  margin-right: 15px;
  color: #999;
}


/* 群组添加好友模态框样式 */
.group-add-modal .ivu-modal-body{
  padding: 0 16px;
  height: 380px;
}

/* 群组添加好友 */
.group-add-item{
  height: 70px;
}
.group-add-item:hover{
  background: #eeeeee;
}
/* 群组添加好友列表 */
.friend-list, .select-friend-list{
  width: 49%;
  display: inline-block;
  height: 380px;
  overflow-y: auto;
}

.ivu-input{
  transition:none
}
iframe html{
  overflow: hidden;
}

/*    滚动条样式   */
.friend-list::-webkit-scrollbar,.select-friend-list::-webkit-scrollbar,
.chat-body::-webkit-scrollbar,.right-body::-webkit-scrollbar,.group-body::-webkit-scrollbar,
.pc-group-info-body::-webkit-scrollbar,.friend-body::-webkit-scrollbar{
  width: 7px;
}
.friend-list::-webkit-scrollbar-thumb,.select-friend-list::-webkit-scrollbar-thumb,
.chat-body::-webkit-scrollbar-thumb,.right-body::-webkit-scrollbar-thumb, .group-body::-webkit-scrollbar-thumb,
.pc-group-info-body::-webkit-scrollbar-thumb,.friend-body::-webkit-scrollbar-thumb{
  background-color: #f1f1f1;
  border-radius: 7px;
}
.friend-list::-webkit-scrollbar-track,.select-friend-list::-webkit-scrollbar-track,
.chat-body::-webkit-scrollbar-track,.right-body::-webkit-scrollbar-track,.group-body::-webkit-scrollbar-track,
.pc-group-info-body::-webkit-scrollbar-track,.friend-body::-webkit-scrollbar-track{
  background:#fff;
}
/* 当前选中好友 */
.select-friend-list{
  border-left: 1px solid #ccc;
}
.select-friend-list .friend-list-input{
  background:#ccc;
}
.select-friend-list .friend-list-input:hover{
  cursor: pointer;
  background: #aaa;
}
.select-friend-list .friend-list-input>i {
  position: relative;
  top: -2px;
  left: -2px;
}
.select-friend-list-title{
  height: 30px;
  line-height: 30px;
  padding-left: 15px;
  color: #888;
}
/* 选中和未选中样式 */
.friend-list-input{
  float: right;
  height: 20px;
  width: 20px;
  border: 1px solid #ccc;
  border-radius: 50%;
  line-height: 20px;
  position: relative;
  top: 24px;
  right: 12px;
  color: white;
  background-color: white;
}
.friend-list-input.select{
  background-color: limegreen;
}
.friend-list-input>i{
  position: relative;
  top: -3px;
  left: -4px;
}
.select-friend-item{
  height: 70px;
}

/* 好友过滤搜索框 */
.group-add-search{
  padding: 0 10px 0 15px;
  height: 36px;
  line-height: 36px;
}


.right-foot{
  width: 100%;
  height: 140px;
  border-top: 1px solid #ccc;
  position: absolute;
  bottom: 0;
}
/*  显示表情样式 */
.chat-text>img{
  position: relative;
  top: 8px;
}

/* 发送消息框 */
.send-message{
  width:100%;
  height:66px;
  overflow-y:auto;
  resize:none;
  border: none;
  outline: none;
  font-size: 14px;
  text-align: left;
}
/* 发送按钮 */
.send-button{
  text-align: right;
  padding-right: 20px;
}
.message-file{
  margin-right: 10px;
}

/*表情样式图标*/
.message-file:hover{
  cursor: pointer;
  color: royalblue;
}

/*  表情弹出框样式 */
.emoji{
  position: absolute;
  height: 120px;
  width: 336px;
  border: 1px solid #ccc;
  top: -123px;
  overflow-y: auto;
  padding: 8px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.3);
  box-shadow: 0 1px 2px rgba(0,0,0,.3);
  background: #fafafa;
}
.emoji>img{
  margin: 0 3px;
}
.emoji>img:hover{
  cursor: pointer;
}

/*  消息样式  */
.message-item, .message-item-self{
  padding: 0 15px;
}
.message-item-self{
  text-align: right;
}

/*------------  好友申请样式 ------------*/
.new-friend-item{
  border-bottom: 1.3px solid #ccc;
  margin-left: 10px;
  margin-right: 80px;
}
.new-friend-body{
  height: 100px;
  line-height: 100px;
}
.new-friend-text{
  float: left;
  height: 100px;
  line-height: 100px;
  font-size: 14px;
}
.new-friend-text>span{
  color: #cc99ff;
  margin-right: 10px;
}
.new-friend-button{
  float: right;
}
.new-friend-message{
  height: 36px;
  text-align: left;
  padding-left: 72px;
  color: #999999;
}

/*----------  登录和注册页面样式  -------------*/
.login-body {
  width: 400px;
  margin: auto;
}
.login-text{
  display: inline-block;
  width: 80px;
  text-align: right;
}
.login-input{
  width: 250px;
  display: inline-block;
}
.login-group{
  margin:20px 0;
}

@media screen and (max-width:500px){
  .my-frame{
    position: absolute;
    top: 1px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 1000;
    -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.3);
    box-shadow: 0 2px 10px rgba(0,0,0,.3);
  }
  .my-frame-btn{
    position: absolute;
    z-index: 1001;
    top: 120px;
    left: 10px;
    color: blue;
  }
}

/************************************   手机端样式   ************************************/
.wap-main{
  width: 100%;
  height: 100%;
}

.wap-main-title{
  height: 60px;
  line-height: 60px;
  background: #333;
  color: #ffffff;
  font-size: 20px;
}
.wap-main-title .text{
  display: inline-block;
  padding-left: 10px;
}
.wap-main-title .more{
  float: right;
  padding-right: 10px;
}
.wap-create-group-modal{
  position: absolute;
  box-shadow: 0 0 10px #ddd;
  top: 60px;
  right: 0;
  color: #333;
  font-size: 16px;
  width: 50%;
  text-align: left;
  z-index: 100;
  background: #fff;
}
.wap-create-group-modal li{
  height: 46px;
  line-height: 46px;
  padding-left: 10px;
}
.wap-create-group-modal li:active{
  background: #eee;
}


.wap-main-body{
  position: absolute;
  top: 60px;
  bottom: 60px;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  background: #fafafa;
}
.wap-main-body-friend{
  text-align: center;
  background: #fafafa;
  height: 100%;
}
.wap-main-body-friend-search{
  height: 60px;
  line-height: 60px;
  padding: 0 6px;
  background: #fff;
  position: absolute;
  width: 100%;
  z-index: 10;
}
.wap-main-body-friend-title{
  padding: 12px 0;
  background: #fff;
}
.wap-main-body-friend-title>div{
  display: inline-block;
  width: 33%;
}
.wap-main-body-friend-title>div>div>img{
  width: 40px;
}
.wap-main-body-friend-title>div>p{
  font-size: 14px;
  padding-top: 5px;
  color: #666;
}
.wap-main-body-friend-new{
  float: left;
  border-right: 1px solid #eee;
}
.wap-main-body-friend-group{

}
.wap-main-body-friend-add{
  float: right;
  border-left: 1px solid #eee;
}



.wap-main-bottom{
  height: 60px;
  border-top: 1px solid #ccc;
  background: #f4f4f4;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #333333;
}

.wap-main-bottom li{
  display: inline-block;
  padding-top: 4px;
}
.wap-main-bottom-chat{
  float: left;
  margin-left: 30px;
}
.wap-main-bottom-my{
  float: right;
  margin-right: 30px;
}
.wap-main-bottom .active{
  color: #02df82;
}

/*  好友界面好友列表样式  */
.wap-main-body-friend-body{
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  padding-top: 70px;
  width: 100%;
  height: 100%;
}
.wap-main-body-friend-body .chat-item{
  height: 50px;
  padding-left: 5px;
  background: #fff;
}
.wap-main-body-friend-body .chat-item:active, .wap-main-body-message .chat-item:active{
  background: #f1f1f1;
}
.wap-main-body-friend-body .chat-img{
  width: 50px;
  height: 50px;
  padding: 8px;
}
.wap-main-body-friend-body .chat-img>img{
  width: 36px;
  height: 36px;
}

.wap-main-body-friend-body .chat-text, .wap-main-body-message .chat-text{
  height: 50px;
  line-height: 50px;
  float: none;
  text-align: left;
  width: 100%;
  margin-left: 58px;
  color: black;
}
.wap-main-body-friend-body .chat-text, .wap-main-body-message .chat-text{
  border-bottom: 1px solid #eee;
}

/*  聊天列表样式  */
.wap-main-body-message .chat-item{
  height: 60px;
  background: #fff;
  padding-left: 5px;
  position: relative;
}
.wap-main-body-message .chat-img{
  width: 60px;
  height: 60px;
  padding: 8px;
}
.wap-main-body-message .chat-img>img{
  width: 44px;
  height: 44px;
}
.wap-main-body-message .chat-text{
  height: 60px;
  /*line-height: 60px;*/
  margin-left: 62px;
}
.wap-main-body-message .chat-text>div{
  height: 30px;
  font-size: 12px;
}
.wap-main-body-message .chat-text-top{
  line-height: 40px;
}
.wap-main-body-message .chat-text-name{
  font-size: 16px;
}
.wap-main-body-message .chat-text-time{
  position: absolute;
  right: 20px;
  color: #666;
}
.wap-main-body-message .chat-text-message{
  line-height: 24px;
  color: #666;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 20em;
}
.chat-text-message>img{
  height: 30px;
}
.wap-main-body-setting{
  background: #eeeeee;
}
.wap-main-body-setting-logo-img>img{
  width: 50px;
  height: 50px;
}
.wap-main-body-setting-logo{
  height: 70px;
  line-height: 70px;
  margin: 10px 0;
  background: #fff;
}
.wap-main-body-setting-logo-img{
  height: 70px;
  line-height: 70px;
  float: left;
  padding: 10px;
}
.wap-main-body-setting-logo-text{
  float: left;
  height: 70px;
}
.wap-main-body-setting-logo-text-name{
  height: 35px;
  line-height: 45px;
  text-align: left;
}
.wap-main-body-setting-logo-text-id{
  height: 30px;
  line-height: 30px;
}
/*  聊天页面属性 */
.wap-main-chat{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fafafa;
  overflow: hidden;
  z-index: 100;
}
.wap-main-chat-title, .wap-main-friend-title{
  height: 36px;
  line-height: 36px;
  border-bottom: 1px solid #ddd;
  text-align: left;
  padding: 0 6px;
}
.wap-main-friend-title{
  border-bottom: none;
  background:#ffffff;
}

.wap-main-chat-title-name{
  font-size: 14px;
  margin-left: 8px;
}
.wap-main-chat-title-more, .wap-main-friend-title-more{
  float: right;
  margin-right: 5px;
}
.wap-main-chat-body{
  position: absolute;
  width: 100%;
  top: 36px;
  bottom: 40px;
  overflow-y: auto;
  padding-top: 8px;
}
.wap-main-chat .message-item,.wap-main-chat .message-item-self{
  padding: 4px;
  position: relative;
  text-align: left;
}
.wap-main-chat .message-item-self{
  text-align: right;
}
.wap-main-chat .wap-chat-img{
  display: inline-block;
  margin: 0 4px;
}
.wap-main-chat .wap-chat-text{
  display: inline-block;
  vertical-align: top;
  width: 20em;
  padding-top: 2px;
  font-size: 14px;
  word-break: break-all;
}
.wap-main-chat .wap-chat-text>span{
  background: #ececec;
  border-radius: 2px;
  padding: 6px;
  box-shadow: 0 2px 3px rgba(0,0,0,.2);
  display: inline-block;
}
.wap-main-chat .wap-chat-text>span>img{
  max-width: 100px;
}

.wap-main-chat .message-item-self .wap-chat-text>span{
  background: #4DD52B;
}

.wap-main-chat .create-group-img>img,.wap-main-chat .wap-chat-img>img{
  width: 40px;
  height: 40px;
  border-radius: 4px;
}
.wap-main-chat-bottom{
  position: absolute;
  bottom: 0;
  height: 40px;
  width: 100%;
  border-top: 1px solid #ddd;
  text-align: left;
  padding: 5px;
}
.wap-main-chat .send-message{
  width: 100%;
  height: 30px;
  padding-top: 4px;
  background: #ffffff;
}
.wap-main-chat .message-file{
  margin-right: 2px;
}
.wap-main-chat .frame-btn{
  position: absolute;
  left: 10px;
  top: 90px;
  color: aqua;
}
.frame-div, .wap-main-friend, .wap-main-group, .wap-add-friend{
  position: absolute;
  width: 100%;
  top: 0;
  height: 100%;
  background:#f4f4f4;
  z-index: 100;
}


/*   群组详情样式  */
.wap-group-info-title{
  text-align: left;
  height: 40px;
  line-height: 40px;
  position: absolute;
  background: #f4f4f4;
  z-index: 10;
  width: 100%;
}
.wap-group-info{
  background: #fff;
  padding: 5px;
  text-align: left;
  margin-top: 40px;
}

.wap-group-info-item{
  display: inline-block;
  width: 20%;
  padding: 8px;
  text-align: center;
}
.wap-group-info-logo{

}
.wap-group-info-logo>img{
  width: 100%;
  height: 100%;
  border-radius: 4px;
}
.wap-group-info-name{
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
.wap-group-info-info{
  background: #fff;
  margin: 8px 0;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  text-align: left;
  font-size: 14px;
}
.wap-group-info-info>div{
  padding-left: 10px;
}
.wap-group-info-info>div:active, .wap-group-info-delete:active, .wap-group-info-group-logo:active{
  background:#dedede;
}
.wap-group-info-group-name, .wap-group-info-delete, .wap-group-info-group-logo{
  height: 46px;
  line-height: 46px;
  padding-left: 1px;
}
.wap-group-info-group-name>span, .wap-group-info-group-logo>span{
  float: right;
  margin-right: 8px;
  color: #898989;
}
.wap-group-info-group-info{
  display: inline-block;
  padding-top: 6px;
  position: relative;
  border-bottom: 1px solid #dedede;
  border-top: 1px solid #dedede;
  padding-left: 1px;
  width: 100%;
}
.wap-group-info-group-info>p{
  padding: 5px 0 5px 10px;
  color: #898989;
  font-size: 12px;
  width: 84%;
  text-align:justify
}
.wap-group-info-group-info>span{
  position: absolute;
  right: 10px;
  color: #898989;
  top: 50%;
  margin: -8px 0 0 0;
}
.wap-group-info-delete{
  background: #fff;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  color: orangered;
  font-size: 14px;
  font-weight: bold;
}
.wap-group-info-group-logo{
  border-bottom: 1px solid #dedede;
}
.ivu-checkbox-wrapper>span:last-child{
  display: none;
}

.wap-main-group .wap-main-body-friend-search{
  top: 40px;
}
.wap-main-group .wap-main-body-friend-body{
  padding-top: 110px;
}

/*   创建群聊  */
.wap-group-body{
  margin-top: 40px;
  background: #fff;
  padding: 20px;
}
.wap-group-add-btn{
  margin-top: 20px;
}
.wap-group-add-btn>.btn-item{
  margin: 10px 0;
}

/*  添加好友 */
.wap-add-friend-body{
  margin-top: 40px;
  background: #fff;
  padding-top: 10px;
}
.wap-add-friend-body-search{
  padding: 0 2px;
}
.wap-add-friend-info{
  height: 200px;
}
.wap-friend-add-logo{
  height: 200px;
  width: 200px;
  float: left;
}
.wap-friend-add-logo>img{
  height: 150px;
  width: 150px;
  border-radius: 5px;
}
.wap-add-friend-info-info{
  text-align: left;
}
.wap-add-friend-nickname{
  font-size: 20px;
}

/*   好友信息  */
/*  好友资料页面样式 */
.wap-main-friend-body{
  background:#ffffff;
  padding-top: 10px;
  text-align: left;
  padding-bottom: 30px;
}

.wap-main-friend-logo>img{
  height: 80px;
  width: 80px;
  border-radius: 3px;
}
.wap-main-friend-logo{
  margin: 0 15px;
}
.wap-main-friend-info, .wap-main-friend-logo{
  display:inline-block;
  vertical-align: top;
}
.wap-main-friend-remark{
  font-size: 20px;
  font-weight: bold;
  color: #000;
}
.wap-main-friend-nickname{
  color: #888888;
  margin-top: 5px;
}
.wap-main-friend-bottom{
  background: #ffffff;
  margin-top: 20px;
}
.wap-main-friend-bottom>div{
  height: 40px;
  line-height: 40px;
}
.wap-main-friend-update-remark,.wap-main-friend-sendmessage{
  border-bottom: 1px solid #eeeeee;
  width: 98%;
  margin: auto;
}
.wap-main-friend-delete{
  margin: 0 2px;
}
.wap-my-modal{
  width: 300px!important;
  margin: auto;
}
.wap-my-modal-text{
  padding: 0 20px;
  text-align: center;
}
.wap-my-modal-text>img{
  width: 100px;
  height: 100px;
}
.wap-add-friend-title{
  height: 50px;
  line-height: 50px;
  text-align: left;
  font-weight: bold;
}
.ivu-divider-inner-text{
  color: #666;
}
.wap-add-friend-info .wap-main-friend-body{
  padding-bottom: 0;
}

/*  用户修改密码  */
.input-group{
  margin: 10px 0;
  padding-left: 4px;
}

.password-text{
  height: 30px;
  line-height: 30px;
  font-size: 14px;
}

.chat-item-modal{
  position: absolute;
  -webkit-box-shadow: 0 0 10px #ddd;
  box-shadow: 0 0 10px #ddd;
  font-size: 16px;
  z-index: 100;
  background: #fff;
  top: 38px;
  left: 120px;
  padding: 5px;
}
